body{
            
            background-color: #aca0b8 !important; 
}

.btn-primary{
    
    background-color: #7542f5 !important;
    border-color: #7542f5 !important;
    
}

.btn-primary:hover{
    
    background-color: #5231a3 !important;
    border-color: #5231a3 !important;
}